* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* body style */
body{
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    color: #333;
    line-height: 1.6;
}

ul {list-style-type:none;
}

/* heading and logo styles */
h1, h2 {
    font-family: 'Libre Franklin', sans-serif;
    color: #252525;
    margin: 10px 0;
}



#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
    color: blue;
}

/* Include styling for google map to pop it into the middle of its container and make it responsive*/
.google-map {
    padding-bottom:70%;
    position:relative;
}

.google-map iframe {
    height:100%;
    width:100%;
    left: 0;
    top: 0;
    position:absolute;
}

/* Footer styling */
footer {
    height: 150px;
}

.partners {
    text-align: center;
}

.partners li {
    display: inline;
}

.partners i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}