* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* body style */
body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    color: #333;
    line-height: 1.6;
}

.navbar {
    background-color: #047aed;
    color: #fff;
    height: 70x;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

ul {
    list-style-type: none;
}

/* heading and logo styles */
h1,
h2 {
    font-family: 'Libre Franklin', sans-serif;
    color: #252525;
    margin: 10px 0;
}

.header {
    grid-area: hd;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
    color: blue;
}

/* General styling for images */
img {
    width: 100%;
}

/* body styling grid format */
body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 60px auto 60px;
    grid-template-areas: "hd hd hd"
        "lhside main rhside"
        "foot foot foot";
}

.main-left {
    grid-area: lhside;
}

.main-right {
    grid-area: rhside;
}
/* Flexbox styling for walk ids to display around edges of container */
.walk-id {
    grid-area: main;
 /*   height: 50%;
    width: 50%; */
    border: 1px solid blue;
    padding: 10%;
    color: red;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
}

/* Include specific styling for google map to pop it into the middle of its container and make it responsive*/
.google-map {
    grid-area: main;
    padding-bottom: 70%;
    position: relative;
}

.google-map iframe {
    height: 50%;
    width: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

/* Footer styling */
footer {
    grid-area: foot;
    height: 150px;
    background-color: black;
}

.partners {
    text-align: center;
}

.partners li {
    display: inline;
}

.partners i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}