* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body style */
body{
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo styles */
h1, h2 {
    font-family: 'Libre Franklin', sans-serif;
    color: #252525;
}


/* Include styling for google map to pop it into the middle of its container and make it responsive*/
.google-map {
    padding-bottom:50%;
    position:relative;
}

.google-map iframe {
    height:100%;
    width:100%;
    left: 0;
    top: 0;
    position:absolute;
}